<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>EPITECH BULKSMS</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>

				 <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>EPITECH SURVEY APP</a>
				<a href="{{ url_for('failed_sms') }}"><i class="fas fa-exclamation"></i></i>SMS FAILED</a>
				<a href="{{ url_for('reports') }}"><i class="fab fa-accusoft"></i>SMS SENT</a>
				<a href="{{ url_for('outbox') }}"><i class="fas fa-archive"></i>outbox</a>

				<a href="{{ url_for('contacts') }}"><i class="fas fa-address-book"></i>Add Numbers</a>
                 <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>